RewriteOptions inherit
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule "^(.*)$" https://%1/$1 [R=permanent,END]
RewriteRule "^$" "/mk8dx" [R,END]
RewriteRule "^mk7\.html$" "/mk7" [R=permanent,END]
RewriteRule "^mk7$" "/mk7.html" [END]
RewriteRule "^mk8\.html$" "/mk8" [R=permanent,END]
RewriteRule "^mk8$" "/mk8.html" [END]
RewriteRule "^mk8dx\.html$" "/mk8dx" [R=permanent,END]
RewriteRule "^mk8dx$" "/mk8dx.html" [END]
RewriteRule "^mkx\.html$" "/mkx" [R=permanent,END]
RewriteRule "^mkx$" "/mkx.html" [END]
