RewriteOptions inherit
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule "^(.*)$" https://%1/$1 [R=permanent,END]
RewriteRule "^$" "/mk8dx" [R,END]
RewriteRule "^mk8dx\.html$" "/mk8dx" [R=permanent,END]
RewriteRule "^mk8dx$" "/mk8dx.html" [END]
