RewriteOptions inherit
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule "^(.*)$" https://%1/$1 [R=permanent,END]
RewriteRule "^$" "/mk8dx" [R,END]
RewriteRule "^mk7\.html$" "/mk7" [R=permanent,END]
RewriteRule "^mk7$" "/mk7.html" [END]
RewriteRule "^mk8\.html$" "/mk8" [R=permanent,END]
RewriteRule "^mk8$" "/mk8.html" [END]
RewriteRule "^mk8dx\.html$" "/mk8dx" [R=permanent,END]
RewriteRule "^mk8dx$" "/mk8dx.html" [END]
RewriteRule "^mkw\.html$" "/mkw" [R=permanent,END]
RewriteRule "^mkw$" "/mkw.html" [END]
ErrorDocument 404 /404.html

<Limit GET POST>
    Order Deny,Allow
    Allow from 66.249.64.0/19
    Allow from 64.233.160.0/19
    Allow from 216.239.32.0/19
    Allow from googlebot.com
</Limit>
