@use "button" as *;
@use "type" as *;

.combo {
  display: flex;
  gap: .5rem;
  width: 100%;
  justify-content: stretch;
  align-content: stretch;

  &>* {
    position: relative;
    height: auto;

    &:is(button) { padding: .25rem; }
    &:not(button) {
      height: 100%;
      padding: .125rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      aspect-ratio: 25 / 16;
    }
    &:not(button) img { width: auto; }
    &:first-child img { aspect-ratio: 1 / 1; }
  }
}

#combo-details {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  margin-top: .625rem;
  @include type("body-1");
  line-height: 1;
  color: var(--color-subdued);

  >span:last-child {
    display: flex;
    gap: .25em;
    height: 1em;
    jd-icon { height: 1em; }
    cursor: help;
  }
}
