@use "type" as *;
@use "responsive" as *;
@use "prefix" as *;

dialog {
  --dialog-width: var(--width-column);
  --dialog-pos: 3rem;

  position: fixed;
  top: var(--dialog-pos);
  left: 0;
  right: 0;
  margin: auto;
  width: var(--dialog-width);
  max-height: calc(100svh - 2*var(--dialog-pos));
  background-color: var(--color-foreground);
  border-radius: var(--border-radius-2);
  box-shadow: 0 .5rem 2.5rem 0 rgba(0,0,0, .5),
              0 1px 10rem 0 rgba(0,0,0, .5);
  contain: layout;
  z-index: 50;
  transition: .2s ease opacity,
              .2s ease translate;

  &:not([open]) {
    display: initial;
    opacity: 0;
    pointer-events: none;
    translate: 0 1svh;
  }
  &::backdrop {
    background: rgba(0,0,0, .5);
    @include backdrop-filter(blur(5px));
  }

  &.overflow {
    overflow-y: auto;
    scrollbar-width: thin;
  }

  &.full-size { height: calc(100svh - 2*var(--dialog-pos)); }

  &.alert {
    top: 50%;
    translate: 0 -50%;
    text-align: center;
    footer button { width: 100%; }
  }

  &>* { padding: 1.333rem; }

  p { @include user-select(text); }

  header {
    padding: 1.333rem 1.333rem 1rem 1.333rem;
    border-bottom: 1px solid var(--color-interactive);
    border-radius: var(--border-radius-2) var(--border-radius-2) 0 0;

    &.sticky {
      position: sticky;
      top: 0;
      background-color: inherit;
      z-index: 55;
    }

    h2 {
      @include type("head-1");
      jd-icon, img {
        height: 1em;
      }
      img {
        height: 1.25em;
        display: inline-block;
        vertical-align: -.333rem;
        margin-right: .25em;
      }
      jd-icon { margin-right: .25em; }
    }

    p { color: var(--color-subdued); }

    button:not(.selected):not(:hover) jd-icon {
      color: var(--color-subdued);
    }
  }

  footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    background-color: inherit;
    padding: 1.333rem;
    border-top: 1px solid var(--color-interactive);
    border-radius: 0 0 var(--border-radius-2) var(--border-radius-2);
    z-index: 55;
  }
}

@include min-2 {
  dialog {
    --dialog-width: 32rem;
    --dialog-pos: 4rem;
    &.alert { top: 33%; }
  }
}
