@font-face {
	font-family: "Akkurat";
	font-weight: 400;
	font-style: normal;
	src: url(https://centrale.jeremiedupuis.com/fonts/akkurat/Akkurat-Regular.woff2) format("woff2"),
			 url(https://centrale.jeremiedupuis.com/fonts/akkurat/Akkurat-Regular.woff) format("woff")
}

@font-face {
	font-family: "Akkurat";
	font-weight: 400;
	font-style: italic;
	src: url(https://centrale.jeremiedupuis.com/fonts/akkurat/Akkurat-Italic.woff2) format("woff2"),
			 url(https://centrale.jeremiedupuis.com/fonts/akkurat/Akkurat-Italic.woff) format("woff")
}

@font-face {
	font-family: "Akkurat";
	font-weight: 700;
	font-style: normal;
	src: url(https://centrale.jeremiedupuis.com/fonts/akkurat/Akkurat-Bold.woff2) format("woff2"),
			 url(https://centrale.jeremiedupuis.com/fonts/akkurat/Akkurat-Bold.woff) format("woff")
}

@font-face {
	font-family: "Akkurat Mono";
	font-weight: 400;
	font-style: normal;
	src: url(https://centrale.jeremiedupuis.com/fonts/akkurat-mono/AkkuratMono-Regular.woff2) format("woff2"),
			 url(https://centrale.jeremiedupuis.com/fonts/akkurat-mono/AkkuratMono-Regular.woff) format("woff")
}

@font-face {
	font-family: "Akkurat Mono";
	font-weight: 700;
	font-style: normal;
	src: url(https://centrale.jeremiedupuis.com/fonts/akkurat-mono/AkkuratMono-Bold.woff2) format("woff2"),
			 url(https://centrale.jeremiedupuis.com/fonts/akkurat-mono/AkkuratMono-Bold.woff) format("woff")
}
