body>footer {
  display: flex;
  gap: .5rem;
  justify-content: space-between;
  width: var(--width-page);
  padding: .75rem 0 1.5rem;
  margin: 4rem auto 0;
  border-top: 1px solid var(--color-grey);
  color: var(--color-grey);
  p { margin: 0; }
  &>:last-child { text-align: right; }
}
