@use "../components/type" as *;
@use "../components/meter" as *;
@use "../components/button" as *;

.positive { color: var(--color-positive) !important; }
.negative { color: var(--color-negative) !important; }

#combo-card {
  border-radius: var(--border-radius-1) var(--border-radius-1) var(--border-radius-2) var(--border-radius-2);
}

#combo-details {
  margin-top: .625rem;
  @include type("body-1");
  line-height: 1;
  color: var(--color-subdued);
}

#combo-stats {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  margin-top: 1rem;

  &>div {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: .375rem;
    align-items: center;

    label:not(:first-of-type) {
      text-align: right;
      opacity: 0;
    }
    &.show label:not(:first-of-type) { animation: show 5s; }
    @keyframes show {
      0% { opacity: 0; }
      5% { opacity: 1; }
      90% { opacity: 1; }
      100% { opacity: 0; }
    }

    output {
      @include type("code-1");
      line-height: 1;
      text-transform: uppercase;
      color: var(--color-yellow);
      letter-spacing: 0;
      font-feature-settings: "zero" on;
    }
  }

  &.values-hidden>div {
    grid-template-columns: auto 1fr;
    output { display: none; }
  }
}

#combo-topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;

  .favourites { gap: .25rem; }
  #favorite {
    & svg { transition: .1s ease scale; }
    &:active svg { scale: .75; }
    &.selected {
      background-color: var(--color-interactive);
      color: var(--color-text);
      &.user svg { animation: pulse .5s; }
    }
  }
  #favorites-open {
    min-width: 0;
    padding: 0 .5rem;
    jd-icon {
      height: .375rem;
      vertical-align: .125em;
    }
  }
}

@keyframes pulse {
  25%  { scale: .5; }
  50%  { scale: 1.375; }
  85%  { scale: .875; }
}

.tab-panels ol {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  padding: 1.333rem 1.333rem 12rem 1.333rem;

  p {
    text-align: center;
    color: var(--color-subdued);
    margin-top: 1rem;
  }

  li {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    &:not(:last-child) {
      padding-bottom: 1.25rem;
      border-bottom: 1px solid var(--color-interactive);
    }

    &>div:first-child {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;
      &>div {
        justify-content: start;
        height: $button-size;
        width: auto;
      }
    }

    .stat-diffs {
      display: grid;
      grid-template-columns: repeat(3, max-content auto);
      gap: .125em 1em;
      font-size: var(--font-size-1);

      &>div {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: span 2;
        gap: .375em;
        align-items: baseline;
        font-feature-settings: "tnum" on;
      }
      label {
        @extend .stat-code;
        text-align: right;
      }
    }
  }
}

.keep-all { display: inline-block; }

.formula {
  display: inline-block;
  @include type("code-1");
  line-height: 1.5;
  text-wrap: balance;

  .multiply { margin: 0 .25em; }
  span {
    color: var(--color-text);
    &.subdued { color: var(--color-subdued); }
  }
}
.invalid { color: var(--color-red); }

#custom-formula-dialog {
  .formula-factors, .formula-factors>.collapse-container>div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .factor-widget {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    hgroup { margin-bottom: -.375em; }

    &>div {
      display: flex;
      gap: 1rem;
      align-items: baseline;
    }

    button {
      font-weight: normal;
      color: var(--color-subdued);
    }
  }

  .toggles {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    justify-content: start;
    gap: .75rem 2rem;
    button {
      font-weight: normal;
      gap: .5em;
    }
  }
}

.stat-code {
  @include type("code-1");
  line-height: 1;
  text-transform: uppercase;
}
abbr.stat-code { margin-left: .1em; }

ul.bullet {
  padding-left: 1.5em;
  li {
    position: relative;
    &::before {
      position: absolute;
      translate: calc(-100% - .25em);
      content: "• ";
      color: var(--color-subdued);
    }
  }
}

#favorites-dialog {
  ol {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  p {
    text-align: center;
    color: var(--color-subdued);
    margin-top: 1rem;
  }

  li {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 0;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid var(--color-interactive);
    &:last-child {
      padding-bottom: 0;
      border: none;
    }

    &.remove {
      height: 0 !important;
      margin-top: -1.25rem;
      padding-bottom: 0;
      overflow: hidden;
      transition: .2s ease-in-out height,
                  .2s ease-in-out padding-bottom,
                  .1s .1s ease-in-out margin-top;
    }

    & > :first-child {
      display: flex;
      gap: 1rem;
      &>.button-group { gap: .75rem; }
    }

    input {
      font-size: var(--font-size-4);
      font-weight: bold;
      min-width: 0;
      border-radius: var(--border-radius-0);
      text-overflow: ellipsis;
    }
  }

  .combo > :not(button) img {
    width: 100%;
    background-color: var(--color-interactive);
    border-radius: var(--border-radius-1);
    padding: .25rem;
  }
}

#unfavorite-message {
  font-size: var(--font-size-3);
  font-weight: normal;
  text-wrap: balance;
  em { text-wrap: nowrap; }
}
