#wip {
  font-size: var(--font-size-4);
  font-weight: bold;
  grid-column-end: span 2;
  align-self: center;
  text-align: center;
  text-wrap: balance;

  img {
    margin: 0 auto 1rem;
    border-radius: var(--border-radius-1);
  }
}
