.emblem {
  background-image: url(/resources/graphics/mkw/emblems.webp);
  background-size: auto 100%;
  background-position-x: calc(-100% * var(--o));
  height: 18px; // Safari can't deal with half pixel size sprites. grrr :/
}
// [data-emblem="biddy"] { --o: 0; }
[data-emblem="birdo"] { --o: 1; }
[data-emblem="bowser"] { --o: 2; }
[data-emblem="bowserJr"] { --o: 3; }
[data-emblem="cataquack"] { --o: 4; }
[data-emblem="cheep"] { --o: 5; }
[data-emblem="chuck"] { --o: 6; }
[data-emblem="coffer"] { --o: 7; }
[data-emblem="conkdor"] { --o: 8; }
[data-emblem="cow"] { --o: 9; }
[data-emblem="crab"] { --o: 10; }
[data-emblem="daisy"] { --o: 11; }
[data-emblem="daisyBb"] { --o: 12; }
[data-emblem="dk"] { --o: 13; }
[data-emblem="dolphin"] { --o: 14; }
[data-emblem="drybones"] { --o: 15; }
[data-emblem="fishbone"] { --o: 16; }
[data-emblem="goomba"] { --o: 17; }
[data-emblem="hammerbro"] { --o: 18; }
[data-emblem="kingboo"] { --o: 19; }
[data-emblem="koopa"] { --o: 20; }
[data-emblem="lakitu"] { --o: 21; }
[data-emblem="luigi"] { --o: 22; }
[data-emblem="luigiBb"] { --o: 23; }
[data-emblem="mario"] { --o: 24; }
[data-emblem="marioBb"] { --o: 25; }
[data-emblem="mole"] { --o: 26; }
[data-emblem="nabbit"] { --o: 27; }
[data-emblem="pauline"] { --o: 28; }
[data-emblem="peach"] { --o: 29; }
[data-emblem="peachBb"] { --o: 30; }
[data-emblem="peepa"] { --o: 31; }
[data-emblem="penguin"] { --o: 32; }
[data-emblem="pianta"] { --o: 33; }
[data-emblem="piranha"] { --o: 34; }
[data-emblem="pokey"] { --o: 35; }
[data-emblem="rosalina"] { --o: 36; }
[data-emblem="rosalinaBb"] { --o: 37; }
[data-emblem="shyguy"] { --o: 38; }
[data-emblem="snowman"] { --o: 39; }
[data-emblem="spike"] { --o: 40; }
[data-emblem="stingby"] { --o: 41; }
[data-emblem="swoop"] { --o: 42; }
[data-emblem="toad"] { --o: 43; }
[data-emblem="toadette"] { --o: 44; }
[data-emblem="waluigi"] { --o: 45; }
[data-emblem="wario"] { --o: 46; }
[data-emblem="wiggler"] { --o: 47; }
[data-emblem="wrench"] { --o: 48; }
[data-emblem="yoshi"] { --o: 49; }
