@use "button" as *;
@use "type" as *;

input {
  @extend button;
  @include type("code-1");
  font-weight: normal;
  font-size: .9375rem;
  display: block;
  width: 100%;
  height: 2rem;
  padding: 0 .625em;
  text-align: left;

  &.invalid {
    box-shadow: 0 0 0 .2rem var(--color-background),
                0 0 0 .4rem var(--color-red),
                0 0 0 .6rem var(--color-background) !important;
    transition: .2s ease box-shadow;
  }
}

.field-group {
  display: flex;
  gap: .5rem;
  align-items: center;
  flex-grow: 1;
}
